::ng-deep {
  .clr-wizard-footer-buttons {
    padding-left: 1rem;
    .leftRightBtns {
      display: grid;
      grid-template-columns: 1fr auto;
      width: 100%;
      .btns-left {
        display: flex;
        align-items: center;
        overflow: hidden;

        .select-all-btn {
          flex-shrink: 0;
          min-width: 132px;
          user-select: none;
          button:focus {
            outline: none;
          }
        }
        .badge {
          min-width: 18px;
        }
        .selectedLabel {
          margin-left: .5rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          align-self: center;
          text-align: left;

          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          width: 100%;
          
          .required-message {
            justify-self: center;
            clr-alert {
              .alert {
                margin-top: 0;
              }
            }
          }
        }
        clr-wizard-button:first-child {
          padding-left: 0;
        }
      }
      .btns-right {
        display: flex;
        justify-content: flex-end;
      }
    }  
  }
}



// data-secondline
// ...data-secondline="and save"
::ng-deep {
  .second-row:hover {
    position: relative;
    .btn {
      z-index: 2;
    }
    &:after {
      content: attr(data-secondline);
      position: absolute;
      right: 0;
      bottom: -.1rem;
      left: 0;
      top: initial;
      text-transform: none;
      font-weight: lighter;
      font-size: xx-small;
      color: #666;
      line-height: initial;
      text-align: center;
      min-width: 3.5rem;
      padding-left: .5rem;
      z-index: 1;
      background: transparent;
    }
  }
}