/////////////////////////////////////////////////////////

::ng-deep {
  :root {
    --font-color: #000;
    --line-height: 1em;
    --column-delimiter-color: #d9e4ea;
    --box-border-color: #ccc;
    --box-background-hover: #333;
    --box-font-color-hover: #fff;
    --border-color: #d9e4eb;
  }
}

/////////////////////////////////////////////////////////

@import 'styles/solution-set-grid.scss';
@import 'styles/solution-sets.scss';
@import 'styles/scrollable-sections.scss';
@import 'styles/wizard-footer.scss';

/////////////////////////////////////////////////////////


::ng-deep {


  app-clr-datagrid-selection-demo {
    height: 100%;
  }
  app-clr-datagrid-selection-demo .datagrid-overlay-wrapper {
    flex: 1 1 auto;
    position: relative;
  }
  app-clr-datagrid-selection-demo .datagrid-overlay-wrapper .datagrid-scroll-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }


  app-clr-datagrid-selection-demo {
    height: 100%;

    .datagrid-overlay-wrapper {
      flex: 1 1 auto;
      position: relative;
    
      .datagrid-scroll-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}





// wizard-mode
clr-wizard-title {
  position: relative;
  &:after {
    content: attr(wizard-mode);
    position: absolute;
    bottom: -16px;
    right: 0;
    font-size: .5rem;
    color: #333;
  }
}



::ng-deep {
  header {
    z-index: 1051;
  }
  .dropdown-menu .dropdown-divider.no-top-margin {
    margin-top: 0;
  }
  clr-icon[shape="pssb-user"] svg * {
    stroke: #000;
  }
  clr-icon[shape="pssb-user"].white-stroke svg * {
    stroke: #fff !important;
  }
  div.nav-text {
    position: relative;
    line-height: 2.5rem;
    opacity: .65;
    &.line-right:after {
      position: absolute;
      content: "";
      display: inline-block;
      background: #264556;
      right: 0;
      top: .5rem;
      bottom: .5rem;
      width: 2px;
    }
  }
  .clr-wizard.wizard-xl .modal-dialog {
    height: 100vh !important;
  }
  .clr-wizard.wizard-xl .clr-wizard-stepnav-wrapper, 
  .clr-wizard.wizard-xl .modal-content {
    max-height: 100vh !important;
  }

  .modal-dialog.modal-xl {
    width: 100vw !important;
  }
}
::ng-deep {
  .btn-group {
    vertical-align: middle;
    margin-left: 1rem;
    .btn.active {
      background-color: #d9e4ea;
    }
  }
}


::ng-deep {
  .modal-body {
    padding: 0 !important;
  }
}

.clr-wizard {
  .modal-body {
    overflow: hidden;
    height: 100%;
    .clr-wizard-content {
      height: 100%;

      // active clr-wizard-page
      .clr-wizard-page:not([aria-hidden=true]) {
        overflow: auto;
        &.scrollable-wizard-page,
        &.se-page {
          overflow: hidden;


          // height: 100%;
          // display: block !important;
          // position: relative;
          // border: 10px solid lime;

        }
      }
    }
  }  
}



//////////////////////////////////////////////////////////////////





::ng-deep {
  .modal {
    padding: 0 !important;
  }
  .clr-wizard .clr-wizard-stepnav-wrapper {
    min-width: initial !important;
    max-width: initial !important;
    width: auto !important;
    min-height: initial !important;
    max-height: initial !important;
    height: auto !important;
    flex-shrink: 0 !important;
  }
  .clr-wizard.wizard-xl .modal-content {
    max-width: initial !important;
    width: auto !important;
  }
  .clr-wizard .modal-content-wrapper {
    flex-direction: column !important;
  }

  .clr-wizard .clr-wizard-stepnav-item.complete {
    box-shadow: inset 0 0.16667rem 0 #60b515 !important;
  }
  .clr-wizard .clr-wizard-stepnav-item.active .clr-wizard-stepnav-link {
    border-radius: .125rem .125rem 0 0 !important;
    padding-right: 0.7rem !important;
  }
  .clr-wizard .clr-wizard-stepnav-wrapper {
    width: auto !important;
  }
  .clr-wizard .clr-wizard-stepnav-list {
    display: flex !important;
    margin-bottom: -2px !important;
  }
  .clr-wizard .clr-wizard-stepnav-item {
    box-shadow: rgb(238, 238, 238) 0 0.16667rem 0px inset !important;
  }
  .clr-wizard .clr-wizard-stepnav-wrapper {
    display: grid !important;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding-bottom: 0 !important;
    overflow: hidden !important;
    border-bottom: 1px solid #ddd !important;
    clr-wizard-stepnav {
      align-self: end;
      width: auto;
      overflow-x: auto;
      overflow-y: hidden;
    }
    clr-wizard-stepnav::-webkit- {
      display: none !important;
    }
  }
  .clr-wizard-title {
    opacity: .77;
    white-space: nowrap;
  }
  .modal-header .close {
    display: none;
  }
  .clr-wizard .modal-footer {
    border-top: 1px solid #ddd;
    background-color: #fafafa;
  }
  .modal {
    top: 60px !important;
  }
  .modal-backdrop {
    display: none;
  }
}

::ng-deep {
  .clr-wizard-stepnav-list {
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}





::ng-deep {
  .modal-body {
    height: 0;
    .clr-wizard-content {
      height: 100%;
      .scrollable-wizard-page.active,
      .se-page.active {
        height: 100%;
        form {
          
          section:last-child.se-grid {
            height: 0;
            flex: 1 1 auto;
            > .se-column {
              min-height: 0;
              overflow: auto;
            }
          }

          section:nth-child(2) h5 {
            padding: 0 .65rem 0 .35rem;
          }

          section:last-child {
            &.se-grid {
              height: 0;
              min-height: 0;
              
              div.se-grid {
                .se-column {
                  overflow: auto;
                  align-self: stretch;
                }
              }
              
              .se-grid {
                min-height: 0;
                .se-column {
                  overflow: auto;
                }
              }

            }
          }
        }
      }
    }
  }
  app-solution-elements form {
    height: 100%;
    display: flex;
    flex-direction: column;
    .scrollable-columns {
      .se-column {
        border: 1px solid #ddd;
      }
    }
  }
}