<div class="form-group">
  <label for="deliveryRegion" class="required">Delivery Region</label>
  <input type="text" name="deliveryRegion" placeholder="Enter Delivery Region" size="45">
</div>
<div class="form-group">
  <label for="defaultPMoversight">Default Project Manager Oversight</label>
  <input type="text" name="defaultPMoversight" placeholder="Enter %" size="45">
</div>
<div class="form-group">
  <label for="overrideDefaultPMoversight">Override Default Project Manager Oversight</label>
  <input type="text" name="overrideDefaultPMoversight" placeholder="Enter %" size="45">
</div>
<div class="form-group">
  <label for="architectureOversight">Architecture Oversight</label>
  <input type="text" name="architectureOversight" placeholder="Enter %" size="45">
</div>