        <div class="form-group">
            <label for="aForm_1">VMstar opportunity ID</label>
            <input type="text" id="aForm_1" placeholder="Enter ID to import" size="45">
        </div>

        <div class="form-group">
            <label for="opportunityName" class="required">Opportunity name</label>
            <input type="text" name="opportunityName" required placeholder="Enter Opportunity name" size="45">
        </div>
        
        <div class="form-group">
            <label for="aForm_3">Opportunity description</label>
            <input type="text" id="aForm_3" placeholder="Enter Opportunity description" size="45">
        </div>

        <div class="form-group">
            <label> </label>
            <div class="checkbox">
                <input type="checkbox" id="checkrads_1">
                <label for="checkrads_1">Test Opportunity</label>
            </div>
        </div>

        <div class="form-group">
            <label for="customerName" class="required">Customer Name</label>
            <input type="text" name="customerName" placeholder="Enter Customer Name" size="45">
        </div>





        <div class="form-group form-group-grid">
            <label for="aForm_5">Customer Address</label>
            <input type="text" id="aForm_5" placeholder="Enter address line 1" size="45">
            <input type="text" name="addressLine2" placeholder="Enter address line 2" size="45">
            <input type="text" name="city" placeholder="Enter town or city" size="45">
            <input type="text" name="city" placeholder="Enter state" size="45">
            <input type="text" name="city" placeholder="Enter zip code" size="45">
        </div>
        <div class="form-group">
            <label for="contactPhone">Customer Contact Phone</label>
            <input type="text" name="contactPhone" placeholder="Enter phone (555-555-5555)" size="45">
        </div>
        <div class="form-group">
            <label for="contactName">Customer Contact Name</label>
            <input type="text" name="contactName" placeholder="Enter first and last name" size="45">
        </div>
        <div class="form-group">
            <label for="contactEmail">Customer Contact Email</label>
            <input type="text" name="contactEmail" placeholder="Enter email address" size="45">
        </div>

        <div class="form-group">
            <label for="vmwEngMng">VMware Engagement Mgr</label>
            <input type="text" name="vmwEngMng" placeholder="Enter first and last name" size="45">
        </div>



