::ng-deep {
  .main-container .content-container clr-wizard-page.active.solution-sets .clr-vertical-nav, 
  .main-container .content-container clr-wizard-page.active.solution-sets .sidenav {
    height: 90%;
  }

  .main-container:not([class*=open-overflow-menu]):not([class*=open-hamburger-menu]) clr-wizard-page.active.solution-sets .clr-vertical-nav.is-collapsed .nav-trigger {
    margin-left: .125rem;
    margin-right: auto;
  }

  clr-wizard-page.active.solution-sets .clr-vertical-nav .nav-trigger-icon {
    margin-left: .41667rem;
    margin-right: .41667rem;
    transition: all .2s ease-in-out;
  }

  clr-wizard-page.active.solution-sets .clr-vertical-nav {
    background-color: unset;
  }
  clr-wizard-page.active.solution-sets .clr-vertical-nav .nav-content {
    // background-color: #fafafa;

    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 63%, rgba(250,250,250,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(63%, rgba(254,254,254,1)), color-stop(100%, rgba(250,250,250,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 63%, rgba(250,250,250,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 63%, rgba(250,250,250,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 63%, rgba(250,250,250,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 63%, rgba(250,250,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#fafafa', GradientType=0 );

    display: grid;
    grid-template-rows: 1fr auto;
    // border-radius: var(--grid-blocks-border-radius) 0 0 var(--grid-blocks-border-radius) !important;
    height: 100%;
    border-right: none;
    border: 1px solid var(--grid-border-color);
    border-bottom: var(--grid-blocks-bottom-border-height) solid var(--grid-border-color);
    // background: var(--grid-blocks-background-color);
    overflow: visible;

    .vertical-nav-bottom .info-note {
      line-height: 0.7rem;
      font-size: .54167rem;
    }
  }

  .clr-vertical-nav .vertical-nav-top {
    // margin: 0 .5rem 0 1rem;
    .nav-header {
      color: #565656;
      font-weight: 400;
      font-family: Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif;
      font-size: .66667rem;
      letter-spacing: .01em;
      line-height: 1rem;
      margin: 0;
      padding: .5rem 0;
      min-height: 3rem;
    }
    .eng-solutions-tags {
      clr-checkbox {
        margin-bottom: .5rem;
        label {
          display: grid !important;
          grid-template-columns: auto 1fr;
          grid-column-gap: .2rem;
          text-align: left;
          clr-tooltip {
            margin: 0 .15rem; 
          }
        }
      }
    }
  }

  .main-container:not([class*=open-overflow-menu]):not([class*=open-hamburger-menu]) .clr-vertical-nav.is-collapsed {
    .vertical-nav-top {
      width: 2rem;
      margin: .5rem 0 0 0;

      .eng-solutions-tags {
        display: none;
      }
    }
    .nav-header {
      display: block;
      // rotate: 90deg;
      white-space: nowrap;
      min-height: auto;
    }
    .vertical-nav-bottom {
      display: none;
    }
  }
}