:host {
  color: initial;
  padding: 0 1rem;
  display: flex !important;

  background: rgba(254,254,254,1);
  background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 63%, rgba(250,250,250,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(63%, rgba(254,254,254,1)), color-stop(100%, rgba(250,250,250,1)));
  background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 63%, rgba(250,250,250,1) 100%);
  background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 63%, rgba(250,250,250,1) 100%);
  background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 63%, rgba(250,250,250,1) 100%);
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 63%, rgba(250,250,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#fafafa', GradientType=0 );
  padding-bottom: .5rem;

  h4 {
    margin-top: .5rem;
    margin-bottom: .3rem;
  }

  clr-icon {
    grid-row: span 2 / 1;
    margin-left: .5rem;
    order: 2;
    flex-shrink: 0;
  }
  .text-details {
    
  }
  .role {
    font-size: .5rem;
    font-weight: 200;
    white-space: initial;
    display: inline-block;
    line-height: .77rem;
  }
}